# Karina Francieli Schmidt - 2023314

### Lectured: James

To start the project, you need to call the libraries that will be used to develop the code throughout the project.

In [1]:
import warnings
warnings.filterwarnings('ignore')

import matplotlib.pyplot as plt
%matplotlib inline

import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [2]:
# Load libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier       # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split  # Import train_test_split function
from sklearn import metrics                           # Import scikit-learn metrics module for accuracy calculation
from sklearn import tree

In [3]:
import warnings
warnings.filterwarnings('ignore')

import math
import pandas as pd
import numpy as np
import statsmodels.api as sm
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv('recipient_totals.csv')

## DATA UNDERSTAND

In [5]:
df.head()

,period,programme,scheme,scheme_description,basis,recipients
0,2014Q1,Children,BSCFA,Back To School Clothing And Footwear,Social Assistance,137
1,2014Q1,Children,CB,Child Benefit,Social Assistance,623739
2,2014Q1,Children,FIS,Family Income Supplement,Social Assistance,48327
3,2014Q1,Children,ORC,Guardians Payment (Contributory),Social Insurance,487
4,2014Q1,Children,ORNC,Guardians Payment (Non-Contributory),Social Assistance,221

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1647 entries, 0 to 1646
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   period              1647 non-null   object
 1   programme           1647 non-null   object
 2   scheme              1647 non-null   object
 3   scheme_description  1647 non-null   object
 4   basis               1647 non-null   object
 5   recipients          1647 non-null   int64
dtypes: int64(1), object(5)
memory usage: 77.3+ KB

In [7]:
df.shape

(1647, 6)